body {
  margin: 0;
  margin-top: 80px;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Oswald", sans-serif;
  background: url(https://pp.userapi.com/c841122/v841122831/327e/nHt-92F6yc4.jpg)
    no-repeat center center / cover;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #16151b;
  border-bottom: 0;
  margin: 0px 20px;
  font-weight: bold;
  font-size: 20px;
  transition: all 1s;
  position: relative;
}

.nav li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  background-color: #16151b;
  height: 3.5px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s;
}

.nav li a:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}
