body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  background-color: tomato;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  border-radius: 50px;
}

ul li a {
  color: #555;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 30px;
  position: relative;
  transition: all 0.5s;

}

ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transform: skew(-25deg);
  transition: all 0.5s;
}

ul li .first::before {
  border-radius: 7px 0px 0px 7px;
}

ul li .last::before {
  border-radius: 0 7px 7px 0px;
}

ul li a:hover::before {
  background: #eee;
}

ul li a:hover {
  color: tomato;
}